#discord_bot_token_accordion {
    padding-left: 30px;
}

#oobabot-status-heading {
    padding-top: 6px;
}

#oobabot-save-token {
    flex: none;
    min-width: 50px;
}

#oobabot-tab .prose #oobabot-invite-link pre {
    display: inline;
    color: orange;
    text-decoration: underline;
}

#oobabot-refresh-character-menu {
    flex: none;
    min-width: 50px;
}

#oobabot-tab .prose * {
    font-size: 16px;
}

#oobabot-tab .prose h1 {
    padding-top: 10px;
    font-size: 24px;
}

#oobabot-tab .prose h2 {
    padding-top: 20px;
    font-size: 18px;
}

#oobabot-tab .oobabot_instructions code {
    font-size: 18px;
}

#oobabot-tab .oobabot_instructions h1 code {
    font-size: 24px;
}

#oobabot-tab .oobabot-output {
    background-color: #0C0C0C;
    color: #CCCCCC;
    font-family: Consolas, Lucida Console, monospace;
    padding: 20px;
    border-radius: var(--block-radius);
    min-height: 1160px;
    width: 100%;
}

#oobabot-tab .prose * {
    color: unset;
}

#oobabot-tab .prose * .oobabot-red {
    color: #C50F1F;
}

#oobabot-tab .prose * .oobabot-yellow {
    color: #C19C00;
}

#oobabot-tab .prose * .oobabot-cyan {
    color: #3A96DD;
}

#oobabot-tab .prose * .oobabot-white {
    color: #CCCCCC;
}
